
<h5>Username: <%= @login.name %></h5>

<h4>Choose interest sports</h4>
<% if @login.errors.any? %>
  <% @login.errors.full_messages.each do |msg|%>
    <div class="alert alert-danger"> <%= msg%> </div>
  <% end %>
<%end%>

<form action="/interests"  method="post">
  <div class="form-row">
    <div class="form-group">
      <select class="form-control" id="sel1" name="option">
        <% $games.each do |game|%>
          <option name="<%= game.id %>"><%= game.name %></option>
        <% end %>
      </select>
    </div>
    <div class="col-12 col-md-3">
      <button type="submit" class="btn btn-block btn-primary">Add</button>
    </div>

  </div>
</form>
<%# <%<p><%= link_to 'Logout', login_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<p>
  <%= link_to 'Stadium Adding', new_stadium_path %>
</p>
 
